<!DOCTYPE html>
<html>
  <head>
    <title>Our Client</title>
    <link rel='stylesheet' href='assets/stylesheets/style.css' />
  </head>
  <body>
    <h1>Client</h1>
    <p>Welcome to our App</p>
    <iframe src="http://localhost:3000" width="400" style="position:fixed;right:0;top:0;height:100vh;border:0;"></iframe> 
    <script>
    window.CCHAT_CONFIG = {
        EMBED_TOKEN: "f0a3dc1f865a4b349a11b78282c2ab0f",
        HOST_URL: "http://localhost:8000/"
    };
    </script>
  </body>
</html>
